/* image 8 */


position: absolute;
width: 508px;
height: 321px;

background: url(image.png);


/* Footer */


position: absolute;
width: 1440px;
height: 75px;
left: 0px;
top: 1080px;



/* Rectangle 17 */


position: absolute;
width: 393px;
height: 321px;
left: 945px;
top: 350px;

background: #535151;


/* Coffee Lovers Helping Coffee Farms */


position: absolute;
width: 1028px;
height: 52px;
left: 312px;
top: 175px;

/* H1 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 69px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #000000;



/* Learn More about sustainable coffee farms we have partnered with to help your good habits be used for good after getting 100 beans in our rewards program. Coffee Tree will donate at Coffee to the farm of your choice. Below are Farms with proven sustainable growing techniques. Click on the image of the farm to learn more about each. */


position: absolute;
width: 938px;
height: 61px;
left: 357px;
top: 254px;

font-family: Heiti SC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
/* or 133% */

text-align: center;
letter-spacing: 0.05em;

color: #000000;



/* image 6 */


position: absolute;
width: 498px;
height: 321px;
left: 841px;
top: 350px;

background: url(image.png);


/* image 2 */


position: absolute;
width: 499px;
height: 321px;
left: 312px;
top: 350px;

background: url(image.png);


/* Rectangle 34 */


position: absolute;
width: 499px;
height: 65px;
left: 312px;
top: 349px;

background: #3F3430;
opacity: 0.8;


/* Rectangle 35 */


position: absolute;
width: 497px;
height: 65px;
left: 841px;
top: 349px;

background: #3F3430;
opacity: 0.8;


/* Costa Rica */


position: absolute;
width: 499px;
height: 65px;
left: 312px;
top: 349px;

/* H2 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 58px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Costa Rica */


position: absolute;
width: 309px;
height: 52px;
left: 961px;
top: 821px;

/* H1 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 69px;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #000000;



/* Colombia */


position: absolute;
width: 499px;
height: 64px;
left: 841px;
top: 350px;

/* H2 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 58px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #FFFFFF;



/* image 12 */


position: absolute;
width: 499px;
height: 321px;
left: 312px;
top: 724px;

background: url(image.png);


/* Rectangle 36 */


position: absolute;
width: 500px;
height: 65px;
left: 312px;
top: 980px;

background: #3F3430;
opacity: 0.8;


/* Bali */


position: absolute;
width: 499px;
height: 65px;
left: 312px;
top: 980px;

/* H2 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 58px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* image 12 */


position: absolute;
width: 498px;
height: 323px;
left: 841px;
top: 722px;

background: url(image.png);


/* Rectangle 38 */


position: absolute;
width: 498px;
height: 65px;
left: 841px;
top: 980px;

background: #3F3430;
opacity: 0.8;


/* Honduras */


position: absolute;
width: 499px;
height: 65px;
left: 841px;
top: 980px;

/* H2 */

font-family: Merienda;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 58px;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;

color: #FFFFFF;



/* Header */


position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 0px;



/* NAV */


position: absolute;
width: 182px;
height: 316px;
left: 107px;
top: 180px;
