ul {
    list-style-type: none;
}
h2 { 
  font-family: 'Merienda', cursive;
}

h4 {
  font-family: 'Merienda', cursive;
  margin: 26px 30px 4px 23px;
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.navList {
  width: 111px;
  height: 41px;
  flex-grow: 0;
  margin: 19px 71px 12px 0;
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}

.headerFarms {
  display: flex;
  width: 1440px;
  height: 150px;
  margin: 0 0 25px;
  padding: 2px 949px 0 93px;
  background-color: rgba(183, 140, 116, 0);
}

.farmsButton {
  width: 179px;
  height: 38px;
  margin: 103px 0 7px 15.5px;
  padding: 8.3px 27.9px 8.3px 27.5px;
  border-radius: 60px;
  background-color: #a00721;
  font-family: Merienda;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
}

.farmTitle {
  width: 1028px;
  height: 52px;
  margin: 25px 100px 27px 23px;
  font-family: Merienda;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #000000;
}

.farmParagraph {
  width: 938px;
  height: 61px;
  margin: 27px 145px 34px 68px;
  font-family: HeitiSC;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.75px;
  text-align: center;
  color: #000000;
}

#imageOneFarm {
  width: 499px;
  height: 321px;
  margin: 35px 30px 51px 23px;
}

#imageTwoFarm {
  width: 498px;
  height: 321px;
  margin: 35px 101px 51px 29px;
  padding: 0 1px 0 104px;
}

#imageThreeFarm {
  width: 499px;
  height: 321px;
  margin: 53px 30px 35px 23px;
}

#imageFourFarm {
  width: 498px;
  height: 323px;
  margin: 51px 101px 35px 29px;
  padding: 0px 0px 0px 104px;
}
.navListItem {
    margin-bottom: 25px;
}

.container {
    width: 1440px;
    height: 1024px;
    flex-grow: 0;
    background-color: #ffffff;
}

.header {
    width: 1440px;
    height: 250px;
    margin: 0 0 30px;
    padding: 0 63px 7px 89px;
    background-repeat: no-repeat;
    background-color: #b78c74;
  }

  .title {
      margin-left: auto;
      color: white;
  }

  .titleText {
    width: 499px;
    height: 84px;
    margin: 0 0 21px;
    font-family: HeitiSC;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 7.2px;
    text-align: center;
    margin-top: 50px;
  }

  .content {
      display: flex;
  }

  .footer {
    width: 1440px;
    height: 75px;
    margin: 75px 0 0;
    padding: 0 100px 0 107.5px;
    background-color: #b78c74;
    display: flex;
  }

  .copyright {
    width: 405.3px;
    height: 75px;
    flex-grow: 0;
    margin: 0 486.2px 0 0;
    font-family: HeitiSC;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    padding-top: 25px;
  }

  .socialMedia {
      display: flex;
  }

  .socialMediaItem {
      margin-right: 25px;
  }

.footerLogo {
    margin-top: -10px;
}



#imageOne {
  width: 393px;
  height: 264px;
  background-image: url("/images/Costa Rica.png");
  
}
#imageOneWrap{
  position: relative;
  width: 393px;
  height: 264px;
  margin: 32px 29px 48px;
}

#imageOneDescription{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f3430ba;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-family: Merienda;
  transition: opacity .2s, visibility .2s;

}
#imageOneButton{

  width: 195px;
  height: 34px;
  padding: 5.7px 36.2px 5.7px 35.6px;
  border-radius: 60px;
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;

}
#imageOneWrap:hover #imageOneDescription{
  visibility: visible;
  opacity: 1;
}

#imageTwo {
  width: 182px;
  height: 264px;
  background-image: url("/images/Colombia.png");
}

#imageTwoWrap{
  position: relative;
  width: 182px;
  height: 264px;
  margin: 30px 31px 50px 29px;
}

#imageTwoDescription{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f3430ba;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-family: Merienda;
  

  transition: opacity .2s, visibility .2s;
}

#imageTwoButton{
  width: 153px;
  height: 26px;
  padding: 5.7px 36.2px 5.7px 35.6px;
  border-radius: 60px;
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}
#imageTwoWrap:hover #imageTwoDescription{
  visibility: visible;
  opacity: 1;
}



#imageThree {
  width: 393px;
  height: 264px;
  background-image: url("/images/Bali.png");
}

#imageThreeWrap {
  position: relative;
  width: 393px;
  height: 264px;
  margin: 32px 100px 48px 31px;
}

#imageThreeDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f3430ba;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-family: Merienda;

  /* transition effect */
  transition: opacity .2s, visibility .2s;
}

#imageThreeButton {
  width: 232px;
  height: 26px;
  padding: 5.7px 36.2px 5.7px 35.6px;
  border-radius: 60px; 
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}

#imageThreeWrap:hover #imageThreeDescription {
  visibility: visible;
  opacity: 1;
}

#imageFour {
  width: 499px;
  height: 280px;
  background-image: url("/images/Honduras.png");
  

}
#imageFourWrap{
  position: relative;
  width: 499px;
  height: 280px;
  margin: 0 30px 0 30px;


}
#imageFourDescription{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f3430ba;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-family: Merienda;
  transition: opacity .2s, visibility .2s;
}

#imageFourButton{
  width: 195px;
  height: 34px;
  padding: 5.7px 36.2px 5.7px 35.6px;
  border-radius: 60px; 
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}

#imageFourWrap:hover #imageFourDescription{
  visibility: visible;
  opacity: 1;
}

.rowOneImages {
    display: flex;
}

.rowTwoImages {
    display: flex;
}
