ul {
    list-style-type: none;
}
h2{ 
  font-family: 'Merienda', cursive
}
p{
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}
.navList {
        width: 111px;
        height: 41px;
        flex-grow: 0;
        margin: 19px 71px 12px 0;
        font-family:'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #000000;
}
.navListItem {
    margin-bottom: 25px;
}
.container {
    width: 1440px;
    height: 1024px;
    flex-grow: 0;
    background-color: #ffffff;
}
.header {
    width: 1440px;
    height: 250px;
    margin: 0 0 30px;
    padding: 0 63px 7px 89px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  }
  .rewarding {
      display: flex;
  }
  .title {
      margin-left: auto;
      color: white;
  }
  .titleText {
    width: 499px;
    height: 84px;
    margin: 0 0 21px;
    font-family: HeitiSC;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 7.2px;
    text-align: center;
    margin-top: 50px;
  }
  .content {
      display: flex;
  }
  .footer {
    width: 1440px;
    height: 75px;
    margin: 75px 0 0;
    padding: 0 100px 0 107.5px;
    background-color: #b78c74;
    display: flex;
  }
  .copyright {
    width: 405.3px;
    height: 75px;
    flex-grow: 0;
    margin: 0 486.2px 0 0;
    font-family: HeitiSC;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    padding-top: 25px;
  }
  .socialMedia {
      display: flex;
  }
  .socialMediaItem {
      margin-right: 25px;
  }
.footerLogo {
    margin-top: -10px;
}
.navButton {
    width: 287px;
    height: 43px;
    margin: 21px 106px 0;
    border-radius: 60px;
    background-color: #a00721;
    font-family: Merienda;
    font-family: 'Merienda', cursive;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
@@ -165,6 +165,7 @@ p{
  border-radius: 60px;
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;

}
#imageOneWrap:hover #imageOneDescription{
@@ -208,6 +209,7 @@ p{
  border-radius: 60px;
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}
#imageTwoWrap:hover #imageTwoDescription{
  visibility: visible;
@@ -252,6 +254,7 @@ p{
  border-radius: 60px; 
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}

#imageThreeWrap:hover #imageThreeDescription {
@@ -295,6 +298,7 @@ p{
  border-radius: 60px; 
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}

#imageFourWrap:hover #imageFourDescription{
@@ -337,6 +341,7 @@ p{
  border-radius: 60px; 
  background-color: #a00721;
  color: white;
  font-family: 'Merienda', cursive;
}
.rowOneImages {
    display: flex;
}
.rowTwoImages {
    display: flex;
}
